
:root {
  --primary-gradient:   #ECE7
  --secondary-gradient:  #F1E9EC

}

.bg-color-darkmode,
.bg-color-lightmode {
    transition: background-color 0.4s ease;
}

.text-color-darkmode,
.text-color-lightmode {
    transition: color 0.4s ease;
}

.bg-color-darkmode {  
    background: #000 !important;
}

.bg-color-lightmode {
    background: var(--primary-gradient);
}

.text-color-darkmode {
    color: #ffff !important;
}

.text-color-lightmode {
    color: #000 !important;
}
