/* cloned from register page */


/* .user-reg-bg-parent {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.user-reg-bg-left {
  background: #E3E3E3;
  flex: 7;

}

.user-reg-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.user-reg-left-container-text {
  font-family: Lato;
  font-size: 25px;
  font-weight: 500;
}

.user-reg-bg-video {
  width: 50%;
  height: auto;
  max-height: 250px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  position: absolute;

}

.user-reg-bg-video:hover {
  position: absolute;
  z-index: 15;
  opacity: 1;
}


.user-reg-bg-right {
  background: #A8A8B7;
  flex: 3;
}

.user-login-card-container {
  position: absolute;
  right: 45%;
  top: 25%;
  border-radius: 30px !important;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  width: 90%;
  min-width: 450px;
  max-height: 770px;
  z-index: 10;
}



.user-reg-profile-preview {
  height: 100px;
}


.user-reg-card-title,
.user-reg-card-body {
  font-size: 20px;
  font-family: Lato;
  text-align: center;
}

.user-reg-form-size {
  height: 70px;
  width: 100%;
  margin-bottom: 5px;
  border: none !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 0 !important;
}

.user-reg-form-size:focus {
  border-bottom: 2px solid #007bff;
  outline: none;
  box-shadow: none;
}
.pass-icon-parent{
  position: relative;
}
.pass-icon-login{
  position: absolute;
  top: 20px;
}

@media(max-width:768px) {
  .user-reg-bg-left {
    display: none;
  }

  .user-reg-bg-right {
    display: flex;
    justify-content: center;
  }

  .user-login-card-container {
      position: absolute;
   left: 0%;
   top: 20;
   max-height: 500px;
  }

}

input.input-err,
select.input-err{
  border-color: #fc8181;
} */